name: Build and Push Docker Image

on:
  push:
    branches:
      - main  # Change this to the branch you want to trigger the build on

jobs:
  build_and_push:
    runs-on: ubuntu-latest  # You can choose a different runner if needed

    steps:
    - name: Checkout Code
      uses: actions/checkout@v2  # Checks out your code

    - name: docker login
      uses: docker login -u ${{ secrets.DOCKER_USERNAME}} -p ${{ secrets.DOCKER_PASSWORD}}

    - name: docker image build
      uses: docker build -t ${{ secrets.DOCKER_USERNAME}}/aniketthakur/python-flask:0.0.2

    - name: push to dockerhub
      uses: docker push ${{ secrets.DOCKER_USERNAME}}/aniketthakur/python-flask:0.0.2

