name: Your GitHub Action

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Login to Docker Hub
      run: docker login -u aniketthakur -p 00Aniket00#

    - name: Build and push Docker image
      run: |
        docker build -t aniketthakur/python-flask:0.0.1 .
        docker push aniketthakur/python-flask:0.0.1
